/vendor
/saltstack
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
.idea
.sass-cache
.vagrant
/public/phpMyAdmin
/FinTrack
/node_modules
/public/svg/*
/public/images/game/mage/assets/*
/public/images/game/mage/icons_htmlcode/*
/public/js/mageSurvival