/*
    Document   : main
    Created on : Nov 12, 2012, 12:37:16 AM
    Author     : Ilya Rubinchik
    Description:
        Purpose of the stylesheet follows.

    plz run to make it:
        sass --compass --watch resources/assets/sass/main.scss:public/css/main.css
*/

$color-brawn: #5E412F;
$color-blue: #78C0A8;
$color-orange: #F07818;
$color-gold: #F0A830;
$color-clay: #FCEBB6;
$color-white: #FFFFFF;
$color-white2: #EEEEEE;
$color-white3: #DDDDDD;
$color-grey: #aaaaaa;
$color-grey2: #ddd;
$color-black: #000000;

$color-blue-lighter: #98E0C8;

$main-size: 1180px;
$smaller-size: 943px;
$tablet-size: 768px;


$max-width-big-screen: "max-width:1200px";
$max-width-screen: "max-width:992px";
$max-width-mobile: "max-width:768px";
$min-width-screen: "min-width:992px";

