/*
    Document   : games-page
    Created on : Nov 12, 2012, 12:37:16 AM
    Author     : Ilya Rubinchik
    Description:
        Purpose of the stylesheet follows.
*/

body.code {
    background-color: $color-brawn;

    .code-page {
        padding-top: 3rem;
        min-width: 15rem;

        .landing-block {


            &.github {
                background-color: $color-clay;

                &:hover .text {
                    color: $color-brawn;
                }

                img {
                    width: 20rem;
                    height: 20rem;
                    margin-top: -5rem;
                }
            }
            &.game-template {
                background-color: $color-blue;

                &:hover .rounded_block .text {
                    color: $color-orange;
                }
            }
            &.robot-rock {
                background-color: $color-gold;

                &:hover .text {
                    color: $color-brawn;
                }
                i {
                    margin: -4.5rem auto 0 auto;
                }
            }

            .text {

                @media (max-width: 1450px) {
                    font-size: 8rem;
                }
                @media (max-width: 1160px) {
                    font-size: 6rem;
                }
                @media (max-width: 880px) {
                    font-size: 4rem;
                }
                @media (max-width: 580px) {
                    font-size: 3rem;
                }
                @media (max-width: 436px) {
                    font-size: 2rem;
                }

            }
        }
    }
}

