$color-red: #C21348;
$color-yellow: #bcd42a;
$color-brawn: #5E412F;
$color-blue: #78C0A8;
$color-orange: #F07818;
$color-gold: #F0A830;
$color-gold-white: #F6C67B;
$color-clay: #FCEBB6;
$color-white-pure: #FFFFFF;
$color-white2: #EEEEEE;
$color-white3: #DDDDDD;
$color-grey: #aaaaaa;
$color-grey2: #ddd;
$color-black-pure: #000000;

$color-blue-lighter: #98E0C8;