/*
    Document   : main
    Created on : Nov 12, 2012, 12:37:16 AM
    Author     : Ilya Rubinchik
    Description:
        Purpose of the stylesheet follows.
*/

body.cv {
    background-color: $color-brawn;
    span.text-info {
        color: $color-brawn;
        text-decoration: underline;
    }

    .work-experience {
        h3 {
            margin-top: 5px;
        }
    }

    .company-name {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .CVpage {
        img.me {
            float: left;
            width: 9rem;
            margin-right: 2rem;
        }
        h1 {
            color: $color-blue;
            text-shadow: 1px 1px $color-brawn;
        }
    }
    .like-h1 {
        line-height: 2.5rem;
        margin: 10px;
    }
    .cv-certificate {
        margin-right: 20px;
    }
}

