/*
    Document   : games-page
    Created on : Nov 12, 2012, 12:37:16 AM
    Author     : Ilya Rubinchik
    Description:
        Purpose of the stylesheet follows.
*/

$game-page-size: 1011px;

.games-page-old {
    background-color: $color-brawn;

    .block-container {
        opacity: 0.7;
        &:hover .game-block img {
            opacity: 1;
        }
        .game-block {
            margin: 0 auto;
            display: block;
            width: $game-page-size;
            img {
                opacity: 0.5;

            }
        }
    }

    .series {
        background-color: $color-blue;
    }
    .math-effect {
        background-color: $color-gold;
    }
}

$game-page-row-height: 10;

body.games-page {
    background-color: $color-brawn;
    .games-page {
        padding-top: 3rem;

        .landing-block {
            height: $game-page-row-height + rem;

            &:hover .text {
                color: $color-brawn;
            }

            &:hover .bounce {
                -webkit-animation-duration: 0.5s;
                -webkit-animation-name: bounce-10;
            }

            &.spell-craft {
                background-color: $color-blue;
                i {
                    margin-top: 0.5rem;
                }
                .demo-link {
                    font-size: 12px;
                    position: absolute;
                    right:10%;
                }
            }
            &.guess-series {
                background-color: $color-clay;
            }
            &.math-effect {
                background-color: $color-gold;

                i {
                    padding-left:1.5rem;
                    margin-top: 0.5rem;
                }
            }

            i {
                width: $game-page-row-height + 2 + rem;
                height: $game-page-row-height + rem;
                font-size: $game-page-row-height + rem;
                margin-top: -0.25rem;
            }
            .text {
                height: $game-page-row-height + rem;
                line-height: $game-page-row-height + rem;

                @media (max-width: 1280px) {
                    font-size: 8rem;
                }
                @media (max-width: 1024px) {
                    font-size: 6rem;
                }
                @media (max-width: 770px) {
                    font-size: 4rem;
                }
                @media (max-width: 520px) {
                    font-size: 3rem;
                }
            }

        }
    }
}

