/*
    Document   : main
    Created on : Nov 12, 2012, 12:37:16 AM
    Author     : Ilya Rubinchik
    Description:
        Purpose of the stylesheet follows.
*/


/**************************** MENU BLOCK ***************************/
.landing-page-container {
    height: 100%;
    width:100%;
    background-color: $color-gold;

    .main-page-block {
        height: 33%;
        width: 100%;
        min-height: 11rem;
        &:hover .rounded_block .text{
            color: $color-orange;
        }
        &.cv {
            background-color: $color-blue;
        }
        &.code {
            background-color: $color-clay;
        }
        &.games {
            background-color: $color-gold;
        }
        a {
            .rounded_block {
                .text {
                    height: 100%;
                }
            }
        }


    }
}

