/* COLOR PALLETE */


.mage-survival {
    .battle-border {
        float:left;
        width:$battlefield-size + rem;
        height:$battlefield-size + rem;
        //border:0.05rem solid chocolate;
        overflow:hidden;
        position: relative;
        //box-shadow: 0.25rem 0.25rem 0.75rem rgba(39, 200, 119, 1), -0.25rem -0.25rem 0.75rem rgba(39, 200, 119, 1);
        &.action {
            //box-shadow: 0.25rem 0.25rem 0.75rem rgba(182, 189, 55, 1), -0.25rem -0.25rem 0.75rem rgba(182, 189, 55, 1);
        }
        .mage-container {
            position: absolute;
            margin:($map-radius) * $cell-size + rem 0 0 ($map-radius) * $cell-size + rem;
            .mage {
                position: absolute;
                width:$cell-size + rem;
                height:$cell-size + rem;
                z-index: 35;
                //background-image: url('/images/game/mage/mage.png');
                //&.d-1 { @include rotate(90deg); }
                //&.d-2 { @include rotate(180deg); }
                //&.d-3 { @include rotate(270deg); }
            }
        }
        .animation-field, .attacks-field {
            opacity: 1;
            position: absolute;
            overflow: visible;
            margin:($map-radius) * $cell-size + rem 0 0 ($map-radius) * $cell-size + rem;
            .animation {
                overflow: visible;
                opacity: 1;
                position: absolute;
                z-index: 90;
                .circle {
                    overflow: visible;
                }
            }
            .animation-centred-block {
                margin: 0.8rem 0 0 0.8rem;
                position:absolute;
            }
            svg {
                overflow: visible;
            }
        }
        .popover {
            background-color: $mage-colors-clay;
            color: $mage-colors-brown;
            font-size: 0.6rem;
            min-width: 10rem;
            //border-radius: 0.1rem;
            &.right > .arrow:after {
                border-right-color: $mage-colors-clay;
            }
            &.left > .arrow:after {
                border-left-color: $mage-colors-clay;
            }
            &.top > .arrow:after {
                border-top-color: $mage-colors-clay;
            }
            &.bottom > .arrow:after {
                border-bottom-color: $mage-colors-clay;
            }
            .popover-content {
                padding: 0.4rem 0.6rem;
            }
        }

        .unit {
            position: absolute;
            width:$cell-size + rem;
            height:$cell-size + rem;
            z-index: 35;
            .rotate-div {
                width: 1px;height: 1px;
                margin-left: ($cell-size / 2) + rem;
                margin-top: ($cell-size / 2) + rem;
            }
        }
        .unit-status {
            position: absolute;
            width:$cell-size + rem;
            height:$cell-size + rem;
            z-index: 36;
            opacity: 0.7;
            &.under{
                z-index: 34;
            }
        }
        .damage {
            position: absolute;
            z-index: 80;
            font-size: 0.8rem;
            text-shadow: 0.05rem 0.05rem $color-clay;
            padding: 0 0.15rem;
            color:$mage-colors-red;
            margin-top: $cell-size * 0.2 + rem;
            margin-left: $cell-size * 0.2 + rem;
            &.heal {
                color:$mage-colors-green;
            }
            &.armor {
                color:$mage-colors-gold;
            }
        }
    }
    .battle-field {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: absolute;
        margin:($map-radius) * $cell-size + rem 0 0 ($map-radius) * $cell-size + rem;
        width:($map-radius + 1) * $cell-size + rem;
        height:($map-radius + 1) * $cell-size + rem;
        background-color: cornsilk;
            &.current {
                z-index: 25;
            }
            &.new {
                z-index: 20;
            }
        .cell {
            position: absolute;
            width:$cell-size + rem;
            height:$cell-size + rem;
            z-index: 30;
            overflow: visible;
            background-color: black;
            .svg-cell {
                position: absolute;
                width:$cell-size + rem;
                height:$cell-size + rem;
                z-index: 31;
            }
        }
    }
    .object {
        position: absolute;
        width:$cell-size + rem;
        height:$cell-size + rem;
        z-index: 33;
        &.centered {
            .rotate-div {
                margin-left: ($cell-size / 2) + rem;
                margin-top: ($cell-size / 2) + rem;
            }
        }
    }
    .unit-field, .dialog-field {
        position: absolute;
        margin:($map-radius) * $cell-size + rem 0 0 ($map-radius) * $cell-size + rem;
        width:($map-radius + 1) * $cell-size + rem;
        height:($map-radius + 1) * $cell-size + rem;
    }


    .pattern-field {
        position: absolute;
        width:($map-radius + 1) * $cell-size + rem;
        height:($map-radius + 1) * $cell-size + rem;
        .pattern-cell {
            border-radius: 0.1rem;
            position: absolute;
            width:$cell-size + rem;
            height:$cell-size + rem;
            z-index: 25;
            background-color: #770000;
            opacity: 0;
            &.visible {
                z-index: 45;
                opacity: 0.4;
            }
            &.active {
                z-index: 45;
                opacity: 0.7;
            }
        }
    }
    .mage-registration {
        background-color: $mage-colors-blue;
        z-index: 95;
        position: absolute;
        width:($map-radius * 2 + 1) * $cell-size + rem;
        height:($map-radius * 2 + 1) * $cell-size + rem;
        text-align: center;
        .well {
            color: $mage-colors-white;
            background-color: $mage-colors-dark-blue;
        }
        .close {
            margin-bottom: $cell-size + rem;
        }
        .form-control {
            margin-left: 12.5%;
            margin-top: $cell-size + rem;
            width:75%;
            background-color: $mage-colors-white;
            color: $mage-colors-brown;
        }
        .submit {
            margin-top: $cell-size + rem;
            background-color: $mage-colors-green;
            border: none;
        }
    }
}

.battle-border.Tutorial {
    .cell.bl { background-color: darkgrey; }
    .cell.f1 { background-color: black; }
    .cell.f2 { background-color: black; }
    .cell.f3 { background-color: black; }
    .cell.f4 { background-color: black; }
    .cell.s  { background-color: green; }
}
.battle-border.WitchForest {
    .cell.bl { background-color: darkolivegreen; }
    .cell.t0 { background-color: darkolivegreen; }
    .cell.tf { background-color: darkolivegreen; }
    .cell.tF { background-color: darkolivegreen; }
    .cell.t1 { background-color: darkolivegreen; }
    .cell.t2 { background-color: darkolivegreen; }
    .cell.t3 { background-color: darkolivegreen; }
    .cell.t4 { background-color: darkolivegreen; }
    .cell.f1 { background-color: darkolivegreen; }
    .cell.f2 { background-color: darkolivegreen; }
    .cell.f3 { background-color: darkolivegreen; }
    .cell.f4 { background-color: #5e5e5e; }
    .cell.s  { background-color: darkolivegreen; }
    .cell.s1  { background-color: #373B41; }
    .cell.c  { background-color: #999; }
    .cell.cc  { background-color: #999; }
    .cell.cC  { background-color: #999; }
    .cell.r1  { background-color: cornflowerblue; }
    .cell.r2  { background-color: $mage-colors-brown }
    .cell.r3  { background-color: $mage-colors-brown }
    .cell.r4  { background-color: $mage-colors-brown }
    .cell.w1  { background-color: $mage-colors-clay }
    .cell.w2  { background-color: #5e5e5e }
    .cell.c1  { background-color: #373B41 }
    .cell.c2  { background-color: #474B51 }
}

.battle-border.hut {
    .cell.f4 { background-color: #5e5e5e; }
    .cell.w1 { background-color: #3C240E; }
}