

.player-mage-list {
    width: 100%;
    .auth-bar {
        background-color: $mage-colors-blue;
        color: $mage-colors-white;
        text-align: center;
        padding: 0.5rem 0;
    }
    .mage {
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: $mage-colors-clay;
        border-bottom: 1px solid $mage-colors-brown;
        #mage-create-button {
            cursor: pointer;
            text-shadow: -1px -1px $mage-colors-clay;
            &:hover {
                text-decoration: none;
                color: $mage-colors-red;
                text-shadow: -1px -1px $mage-colors-brown;
            }
        }
    }
    .hidden-mage-info {
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: $mage-colors-clay;
        border-bottom: 1px solid $mage-colors-brown;
        display: none;
        text-align: center;
        th {
            text-align: center;
        }
    }
    .dead-mage {
        width: 100%;
        height: 5rem;
        padding: 0.5rem 1rem;
        background-color: $mage-colors-clay;
        border-bottom: 1px solid $mage-colors-brown;
        position: relative;

        &:hover {
            svg {
                animation: rotate-linear 3s linear 0s infinite normal;
                -o-animation: rotate-linear 3s linear 0s infinite normal;
                -ms-animation: rotate-linear 3s linear 0s infinite normal;
                -moz-animation: rotate-linear 3s linear 0s infinite normal;
                -webkit-animation: rotate-linear 3s linear 0s infinite normal;
            }
        }
        .text {
            text-align: center;
            .name {
                font-weight: bold;
            }
            .btn {

                .fa { color: $mage-colors-brown; }
                &:hover{
                    .fa { color: $mage-colors-orange; }
                }
            }
        }
        .dead-mage-eye {
            position: absolute;
            width: 5rem;
            height: 5rem;
            margin-left: -3.5rem;
            margin-top: -0.5rem;
            &.right-eye {
                right:-2.5rem;
            }
            svg {
                width: 5rem;
                height: 5rem;
            }
        }
    }
    #create-mage-pop-up {
        display: none;
    }
    .single-mage-type {
        display: block;
        width: 100%;
        background-color: $mage-colors-blue;
        padding: 0.5rem 1rem;
        min-height: 2.5rem;
        vertical-align: middle;
        border-bottom: 1px solid $mage-colors-white;
        &.locked {
            cursor: pointer;
            &:hover {
                svg path{
                    fill:$mage-colors-orange;
                }
            }
            .requirements {
                display: none;
                padding-top: 1rem;
            }
        }
        &:hover {
            .mage-type-select {
                text-decoration: none;
                .mage-type-name {
                    color: $mage-colors-orange;
                }
            }
        }
        .svg {
            height: 1.5rem;
            width: 1.5rem;
            display: block;
            float: left;
            svg {
                width: 1.5rem;
                height: 1.5rem;
                path {
                    fill: $mage-colors-white;
                }
            }
        }
        .mage-type-select {
            cursor: pointer;
        }
        .mage-type-name {
            margin-left: 1rem;
            line-height: 1.5rem;
            color: $mage-colors-white;

            .crossed {
                color:$mage-colors-grey;
                text-decoration: line-through;
            }
        }
    }
    .last-step {
        display: none;
        height: 4rem;
        width: 100%;
        background-color: $mage-colors-brown;
        text-align: center;
        .mage-name {
            width: 100%;
            background-color: $mage-colors-clay;
            border: 1px solid $mage-colors-gold;
        }
        .btn.submit {
            width: 50%;
            font-size: 1rem;
            margin: 0.2rem 0 0 0;
            font-weight: bold;
            background-color: $mage-colors-gold;
            color: $mage-colors-black;
        }
    }
}