
$mage-portal-animation-size:12;
.game-container.home {

    .home-portal-animation {
        width: 100%;
        height: $mage-portal-animation-size + rem;
        background-color: $mage-colors-brown;
        overflow-y: hidden;
        position: relative;
        .svg-portal {
            position: absolute;
            width: $mage-portal-animation-size + rem;
            margin: 0 auto;
            left:0; right: 0;
            svg {
                width: $mage-portal-animation-size + rem;
                height: $mage-portal-animation-size + rem;
            }
            &.main {
                z-index: 6;
                svg {
                    fill: $mage-colors-blue;
                }
            }
            &.inside {
                background-color: $mage-colors-black;
                z-index: 4;
                svg {
                    fill: $mage-colors-brown;
                }
            }
            &.border {
                z-index: 7;
                svg {
                    fill: $mage-colors-clay;
                }
            }
        }
        .animation-layer {
            position: absolute;
            width: $mage-portal-animation-size + rem;
            height: $mage-portal-animation-size / 2 + rem;
            margin: $mage-portal-animation-size / 2 + rem auto 0 auto;
            padding-left: $mage-portal-animation-size / 2 + rem;
            left:0; right: 0;
            z-index: 5;
            svg {
                width:1px;
                height: 1px;
                circle {
                    fill: $mage-colors-gold;
                }
            }
        }
    }
    .home-h1 {
        width: 100%;
        padding: 1rem 0.5rem;
        color: $mage-colors-gold;
        font-size: 1.3rem;
        background-color: $mage-colors-clay;
        margin: 0;
        z-index: 10;
    }
    .worlds-container {
        .world {
            display: block;
            background-color: $mage-colors-blue;
            width: 100%;
            padding: 0.5rem 1rem;
            font-weight: bold;
            border-top: 1px solid $mage-colors-clay;
            text-align: center;
            text-shadow: $mage-colors-gold 1px 1px;
            color: $mage-colors-brown;
        }
    }
}