/*
    Document   : main
    Created on : Nov 12, 2012, 12:37:16 AM
    Author     : Ilya Rubinchik
    Description:
        Purpose of the stylesheet follows.

    plz run to make it:
        sass --compass --watch resources/assets/sass/main.scss:public/css/main.css
*/

@import "base";
@import "font-awesome/font-awesome";
@import "vendor/vendor-prefixes";
@import "mixins";
@import "landingPage";
@import "cv";
@import "label-stars";
@import "landing-block";
@import "round-block";
@import "code-page";
@import "game-template";
@import "robot-rock";
@import "games-page";
@import "guess";
@import "math-effect";


@import "hex";
@import "cosmos";
@import "mage-survival";
@import "mage-survival-animations";
@import "mage-survival-battle";
@import "mage-survival-media";
@import "mage-survival-list";
@import "mage-survival-admin";
@import "mage-survival-home";
@import "mage-survival-map-builder";
@import "mage-survival-tiles";
@import "mage-survival-desctop";
@import "game-icons";

@import "td";

@import "auth";



* {
    margin: 0px;
    padding: 0px;
}

body, html {
    font-family: arial,sans-serif;
    height:100%;
    font-size: 20px;
    //background-color: $color-brawn;
    color: $color-brawn;
}

.container.main {
    padding-top: 3rem;
}

.main-content-well, .main-content-well-side {
    /*min-height: 700px;*/
}

a {
    color: $color-orange;
    &:hover {
        color: $color-blue;
    }
}

.well {
    background-color: $color-clay;
    box-shadow: 0 0 6px 0 #384541;
}
.navbar {
    background-color: $color-gold;
    box-shadow: 0 0 6px 0 #384541;
    border: 0;
}

.clear{
    clear: both;
}

.table-centrated th, .table-centrated td{
    text-align: center;
}

/**** Alert ****/

.alert {
    background-color: #777777;
    border: 1px solid #FFB68A;
    color: #FFB68A;
    text-shadow: 0 1px 0 rgba(103, 98, 89, 0.5);
}
.alert .close {
    top: 2px;
}

.alert
{
    //display: none;
}

/****  Main Page ****/

.hero-unit {
    padding: 35px;
}
.hero-unit h1 {
    font-size: 31px;
    margin: 0px;
}


/**** photo-gallery ****/

.photo-gallery {margin: 0 auto; width:720px; visibility:hidden ;}
.photo-gallery .photo{ overflow: hidden; height: 170px; float:left; margin: 1px; }
.photo-gallery .photo img {}
#photoModal .modal-body {max-height: none; text-align: center;}

/**** loader ****/
.loader { width: 128px; height: 128px; background-image: url('../images/loading.gif'); margin: 0 auto;}


.code-page-block {
    height: 200px;
    max-width: 700px;
    min-width: 580px;
}
.code-page-block .text {
    font-size: 60px;
}
.banner-block {
    height: 200px;
    max-width: 200px;
    min-width: 200px;
    margin: 0 auto;
}
.banner-block .text {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
}


.ilfate-breadcrumb {
    margin: 7px 0px 0px 0px;
    background: none;
    padding-top: 0.2rem;
    color: $color-brawn;
    a {
        color: $color-brawn;
    }

    & > li + li:before {
        color: $color-blue;
    }
}

/**** FACEBOOK ****/

.facebook-like-hidden {
    display: none;
}


/**** ajax load ****/

.ajax_load{
    min-width: 150px;
    min-height: 150px;
}

/* ------------- MATERIAL DESIGN  --------- */

.shadow-z-1 {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}
.shadow-z-2 {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
.shadow-z-2-hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.shadow-z-3 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.shadow-z-4 {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.22), 0 14px 45px rgba(0, 0, 0, 0.25);
}
.shadow-z-5 {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
}