/* COLOR PALLETE */

$guess-colors-green:#069E2D;
$guess-colors-light-blue:#ABCDEF;
$guess-colors-blue:#529BCA;
$guess-colors-dark-blue:#428BBA;
$guess-colors-red:#FF8360;
$guess-colors-white:#ffffff;
$guess-colors-black:#584D3D;
$guess-colors-yellow:#FFD416;

$color-laser-0: $color-orange;
$color-laser-1: #069E2D;
$color-laser-2: #0000ed;

$description-cells-size:16px;

body.td {

    #td-start {
        background-color: $color-clay;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
    }
    .start-overlay {
        position: absolute;
        width:546px;
        height:546px;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 100;
        .button-container {
            left: 0;
            right: 0;
            margin: 10px auto;
            button {
                border: 4px solid $mage-colors-blue;
                color: $mage-colors-blue;
                background-color: $mage-colors-clay;
                padding:17px 23px;
            }
        }
    }
    .menu {
        width:546px;
        margin: 0 auto;
        .button-section {
            float:left;
            button {
                padding: 6px 8px;
            }
        }
        .wave-indicator {
            padding: 6px 8px;
            font-size: 14px;
            line-height: 20px;
            border: solid 3px $mage-colors-clay;
            float:right;
            color:$mage-colors-gold;
        }
    }
    .td-button {
        border-radius: 0px;
        background-color: $mage-colors-clay;
        border: solid 3px $mage-colors-blue;
        color: $mage-colors-brown;
        &:hover {
            color: $mage-colors-orange;
            border: solid 3px $mage-colors-gold;
        }
    }
    .animation {
        overflow: visible;
        opacity: 1;
        position: absolute;
        z-index: 90;
        .circle {
            overflow: visible;
        }
    }
    .selection-zone {
        width:546px;
        //background-color: $color-clay;
        border: solid 3px $mage-colors-brown-bright;
        margin: 5px auto 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        .upgrade-container {
            display:none;
            padding: 2px 0 0 0;
            border-bottom: 2px dotted $mage-colors-clay;
            color:$mage-colors-gold;
            text-align: center;
        }
        .tower-description {
            float: left;
            border: solid 2px $mage-colors-dark-blue;
            &.selected {
                border: solid 2px $mage-colors-gold;
                .price{
                    color: $mage-colors-orange;
                    background-color: $mage-colors-clay;
                }
            }
            &:hover {
                .price {
                    color: $mage-colors-blue;
                    background-color: $mage-colors-gold;
                }
            }
        }
        .towers-list.upgrade {
            .tower-description {
                &.selected {
                    border: solid 2px $mage-colors-dark-blue;
                    .price {
                        color: $mage-colors-clay;
                        background-color: $mage-colors-brown;
                    }
                }
                &:hover {
                    .price {
                        color: $mage-colors-blue;
                        background-color: $mage-colors-gold;
                    }
                }
            }
        }
        .price{
            width:30px;
            background-color: $mage-colors-brown;
            float: left;
            text-align: center;
            color: $mage-colors-clay;
        }
        .attack-map-container {
            padding: 1px 0 0 1px;
            background-color: $mage-colors-clay;
            float: left;
        }
        .attack-map {
            position: relative;

        }
        .description-cell {
            width: $description-cells-size;
            height: $description-cells-size;
            font-size: 12px;
            position: absolute;
            background-color: $mage-colors-red;
            text-align: center;
        }
        .description-cell-empty {
            width: $description-cells-size;
            height: $description-cells-size;
            position: absolute;
            background-color: $mage-colors-brown;
        }
        .description-cell-center {
            width: $description-cells-size;
            height: $description-cells-size;
            position: absolute;
            background-color: $mage-colors-gold;
        }
    }
}

