
$description-cells-size:16px;

$wh-game-height: 20rem;
$wh-settlement-height: 17.5rem;

body.WhiteHorde {
    background-color: $color-white;
    background-image: linear-gradient(to bottom, $color-white 0%, $color-white 100%);
    a {
        cursor: pointer;
    }
    .no-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .demo-screen canvas{
        margin: 0 auto;
        position: absolute;
        left:0;
        right:0;
    }

    .game-screen {
        overflow: hidden;
        color: $color-black;
        font-size: 0.6rem;
        line-height: 0.6rem;
        width: 49rem;

        margin: 0.2rem auto 0 auto;
        left:0;
        right:0;


        #game-app {
            text-align: center;
        }
        .nav-tabs {
            padding-left: 42%;
            //width:auto;
            //display:inline-block;
        }
        .nav {
            margin-bottom: -1px;

            >li>a {
                padding: 0.2rem 0.3rem;
                //line-height: 0.5rem;
            }
        }
        .tab-pane {
            //background-color: #eeeeee;
            min-height: $wh-game-height;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            padding-top: 0.5rem;
            position: relative;
        }
        .buildings-container {
            width: 100%;
            height: $wh-settlement-height;
            border-bottom: 1px solid $color-grey2;
            .building {
                width: 5rem;
                height: 3rem;
                border: 1px solid $color-grey2;
                float: left;
            }
        }
        .building-window {
            background-color: $color-white;
            width:50%;
            min-height: $wh-settlement-height;
            border: 1px solid $color-clay;
            position: absolute;
            right:0;
            .close {
                width:1rem;
                text-align: center;
                height: $wh-settlement-height;
                line-height: $wh-settlement-height;
                position: absolute;
                left: 0;
                vertical-align: middle;
            }
            .inventory {
                width:100%;
                height: $wh-settlement-height / 2;
                .item {
                    width: 1.7rem;
                    height: 1.7rem;
                    padding: 0.1rem;
                    float: left;
                    position: relative;
                    .quantity {
                        position: absolute;
                        color: $color-grey;
                        right:0;
                        bottom:0;
                    }
                }
            }
            .slots {
                .building-slot {
                    width: 4rem;
                    height: 4.5rem;
                    border: 1px solid $color-grey2;
                    .character {
                        margin:0;
                    }
                }
            }
        }
        .character-info {
            background-color: $color-white;
            width:50%;
            min-height: $wh-settlement-height;
            border: 1px solid $color-clay;
            position: absolute;
            left:0;
            .close {
                width:1rem;
                text-align: center;
                height: $wh-settlement-height;
                line-height: $wh-settlement-height;
                position: absolute;
                right: 0;
                vertical-align: middle;
            }
            .top-part {
                border-bottom: 1px solid $color-grey2;
                height: 10.05rem;
                .left-part {
                    float: left;
                    width: 11.5rem;
                    position: relative;
                    margin-top: -1rem;
                    .nav-container {
                        width: 1.4rem;
                        height: 11rem;
                        position: absolute;
                        right:0;
                        .nav-tabs {
                            width: 11rem;
                            margin-left: 1.4rem;
                            display: block;
                            transform: rotate(90deg);
                            transform-origin: left top 0;
                        }
                    }

                    .tab-content {
                        width: 10rem;
                        .tab-pane {
                            min-height: 0;
                            height: 10rem;
                            border-left: none;
                            border-right: none;
                            padding: 0;
                            margin: 0;
                            position: relative;
                            .item-slot {
                                width: 1.9rem;
                                height: 1.9rem;
                                border: 1px solid $color-grey2;
                                padding: 0.1rem;
                            }
                        }
                    }
                }
                .character-image {
                //    float: left;
                    width: 10rem;
                    height: 10rem;
                //    margin-top: -0.5rem;
                }
                //.items-switch {
                //    float: left;
                //    height: 10rem;
                //    width: 1rem;
                //    a {
                //        transform: rotate(90deg);
                //        transform-origin: left top 0;
                //        display: inline-block;
                //        height: 3.5rem;
                //    }
                //}
                .attribute {
                    float: left;
                    padding: 0.2rem 0.4rem;
                    width: 28%;
                }
            }
            .trait {
                float: left;
                padding: 0.2rem 0.4rem;
                width: 32%;
            }
        }
        .characters-container {
            padding: 0.2rem 0 0 0.2rem;

        }
        .character {
            float: left;
            width: 4rem;
            height: 4.5rem;
            margin: 0 0 0.2rem 0.2rem;
            border: 1px solid $color-grey2;
            &:hover {
                border: 1px solid $color-grey;
            }
            .image {
                margin-left: 0.4rem;
                width: 3.2rem;
                height: 3.2rem;
            }
        }


    }




    .slide-fade-enter-active, .slide-left-fade-enter-active {
        transition: all .15s ease;
    }
    .slide-fade-leave-active, .slide-left-fade-leave-active {
        transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-active {
        transform: translateX(5rem);
        opacity: 0;
    }
    .slide-left-fade-enter, .slide-left-fade-leave-active {
        transform: translateX(-5rem);
        opacity: 0;
    }
}

